.logo img{
    height: 150px;
    width: 145px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contato{
    text-align: center;
    font-family: arial;
    font-size: 14px;
    position: relative;
    top: 10px;
}

.contato img{
    height: 50px;
    width: 50px;
    border-radius: 10px;  
    position: relative;
    top: 15px;
}

/*.mapa{
    background-color: grey;
    width: 566px;
    height: 265px;
    border-radius: 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}*/

.mapa #map{
    width: 600px;
    height: 265px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;     
    border: 0;
}

.endereco{
    font-family: arial;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 10px;
}